/* Write your CSS here */
.main-container {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.heading1 {
  color: white;
  font-size: bold;
}

.img {
  height: 65vh;
  width: 700px;
}

.heading2{
    color: white;
}

.para {
    color: #94a3b8;
}
.btn-1{
    color: white;
    background-color: #0b69ff;
}
btn-2{
color: #0b69ff;
border-color: #0b69ff;
border-radius: 3px;
}